<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        {% if authorized %}
        <h3>Welcome, {{ user_id }}!</h3>
        <a href="{% url 'users:logout' %}">Logout</a>
        {% if user_id == 'admin' %} &ensp;
        <a href="./admin"> Admin Page </a>
        {% endif %} {% else %}
        <h3>Welcome!</h3>
        <a href="{% url 'users:login' %}">Login</a>
        &ensp;
        <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </body>
</html>
